In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession\
    .builder\
    .appName("twitter_transformation")\
    .getOrCreate()

23/09/05 11:04:11 WARN Utils: Your hostname, lia-pc resolves to a loopback address: 127.0.1.1; using 192.168.0.101 instead (on interface enp6s0)
23/09/05 11:04:11 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/09/05 11:04:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
df = spark.read.json("../../datalake/twitter_datascience")

In [6]:
df.show(
)

+--------------------+--------------------+--------------------+------------+
|                data|            includes|                meta|extract_date|
+--------------------+--------------------+--------------------+------------+
|[{146822630164340...|{[{2021-12-07T14:...|{1597742169376579...|  2022-11-29|
|[{935446829730291...|{[{2017-11-28T09:...|{1597741505149808...|  2022-11-29|
|[{140333728412517...|{[{2021-06-11T13:...|{1597741130573123...|  2022-11-29|
|[{131725596376263...|{[{2020-10-17T00:...|{1597740187773435...|  2022-11-29|
|[{942496609434292...|{[{2017-12-17T20:...|{1597739801792348...|  2022-11-29|
|[{190097582, 1597...|{[{2010-09-13T02:...|{1597739085149270...|  2022-11-29|
|[{156528072615680...|{[{2022-09-01T10:...|{1597738629081743...|  2022-11-29|
|[{145057394, 1597...|{[{2010-05-18T01:...|{1597738485531934...|  2022-11-29|
|[{17977727, 15977...|{[{2008-12-08T23:...|{1597737850904416...|  2022-11-29|
|[{19664316, 15977...|{[{2009-01-28T17:...|{1597737492081512...|  2022-11-29|
|[{146822630164340...|{[{2021-12-07T14:...|{1597742169376579...|  2022-11-29|
|[{935446829730291...|{[{2017-11-28T09:...|{1597741505149808...|  2022-11-29|
|[{140333728412517...|{[{2021-06-11T13:...|{1597741130573123...|  2022-11-29|
|[{131725596376263...|{[{2020-10-17T00:...|{1597740187773435...|  2022-11-29|
|[{942496609434292...|{[{2017-12-17T20:...|{1597739801792348...|  2022-11-29|
|[{190097582, 1597...|{[{2010-09-13T02:...|{1597739085149270...|  2022-11-29|
|[{156528072615680...|{[{2022-09-01T10:...|{1597738629081743...|  2022-11-29|
|[{145057394, 1597...|{[{2010-05-18T01:...|{1597738485531934...|  2022-11-29|
|[{17977727, 15977...|{[{2008-12-08T23:...|{1597737850904416...|  2022-11-29|
|[{19664316, 15977...|{[{2009-01-28T17:...|{1597737492081512...|  2022-11-29|
+--------------------+--------------------+--------------------+------------+
only showing top 20 rows